@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

/* end of file */
html {
  font-size: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  position: relative;
  width: 25%;
  max-width: 18rem;
  height: 100%;
  background: #2F80ED;
  color: #fff;
}
.sidebar__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.sidebar__logo h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 0 0 1rem;
}
.sidebar__btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar__btns__btn {
  width: 10rem;
  background-color: #333333;
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
}
.main p {
  font-size: 1.5rem;
  color: #4F4F4F;
}
.main p:first-child {
  text-align: right;
}
.main img {
  display: inline-block;
  margin: auto;
  min-width: 20rem;
  max-width: 45rem;
}
