@import "zero";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
}

body{
	background: rgb(232,190,82);
	background: linear-gradient(90deg, rgba(232,190,82,1) 0%, rgba(200,62,92,1) 49%, rgba(178,38,170,1) 100%); 
}

.hidden{
	display: none !important;
}

.container{
	margin: 0 auto;
	
	background-color: #fff;
	min-height: 100vh;
	padding: 1px;
	
	-webkit-box-shadow: 0px 0px 24px -3px #808080;
	-moz-box-shadow: 0px 0px 24px -3px #808080;
	box-shadow: 0px 0px 24px -3px #808080;
	
	@media (max-width: 566px){
		max-width: 100%;
	}
	@media (min-width: 567px) and (max-width: 767px){
		max-width: 540px;
		
	}
	@media (min-width: 768px) and (max-width: 991px){
		max-width: 720px;
		
	}
	@media (min-width: 992px) and (max-width: 1199px){
		max-width: 960px;
		
	}
	@media (min-width: 1200px) and (max-width: 1399px){
		max-width: 1140px;
	
	}
	@media (min-width: 1400px) {
		max-width: 1320px;
		
	}
}

.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 1rem;

	align-items: center;
	justify-items: center;

	width: min-content;

	margin: 0 auto;
	padding: 1rem;

	background-color: #fff;
	
	&__img{
		display: flex;
		justify-content: center;
		align-items: center;

		width: 150px;
		height: 150px;

		border: 1px solid #dadada;
		border-radius: 1rem;

		background: center no-repeat;
		background-size: cover;

		transition: .1s linear;
		transition-property: transform, box-shadow;
		&:hover{
			transform: scale(1.05);
			-webkit-box-shadow: 0px 0px 18px -3px #808080;
			-moz-box-shadow: 0px 0px 18px -3px #808080;
			box-shadow: 0px 0px 18px -3px #808080;
		}

	}

	@media (max-width: 320px){
		grid-template-columns: repeat(1, 1fr);
	}
	@media (min-width: 321px) and (max-width: 500px){
		grid-template-columns: repeat(2, 1fr);
		
	}
	@media (min-width: 768px) and (max-width: 991px){
		&__img{
			width: 200px;
			height: 200px;
		}
	}
	@media (min-width: 992px){
		&__img{
			width: 250px;
			height: 250px;
		}
	}
}

h1{
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	color: #2f2f2f;

	margin: 2rem 0;

	&::after{
		content: '';
		display: block;

		height: 2px;
		width: 8rem;
		
		position: absolute;
		top: 100;
		left: 50%;

		transform: translate(-50%);
		margin: 1rem 0;


		background-color: #2f2f2f;
	}
}

.viewer{
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.5);

	&__section{
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		height: 25rem;
		width: 45rem;

		background-color: #fff;

		border-radius: 1rem;

		&__img-block{
			height: 22rem;
			width: 22rem;

			border: #808080 1px solid;
			background-color: #2f2f2f;
			background: center no-repeat;
			background-size: cover;
		}

		.close{
			position: absolute;
			top: 0;
			right: 0;

			margin: 0.5rem 1rem;
			font-size: 2rem;
			font-weight: 700;
			color: #2f2f2f;

			cursor: pointer;
		}
	}


	@media screen and (max-width: 500px){
		background-color: red;
		display: none !important;
	}
}